[Desktop Entry]
Type=Application
Version=4.8.1
Name=3D Slicer 4.8.1
Comment=Image analysis and scientific visualisation
Icon=3dslicer.png
Exec=#DESKTOP_START_ARG_PATH#desktop_start_arg 3dslicer 4.8.1 "Slicer"
Path=
Terminal=
Categories=X-CVL-3DSLICER
