[Desktop Entry]
Type=Application
Version=master
Name=Apex master
Comment=Multiplatform scalable dynamics frawework
Icon=gnome-terminal.png
Exec=## this will change based on the system installation ##
Path=
Terminal=
Categories=X-CVL-APEX
