[Desktop Entry]
Type=Application
Version=master
Name=Apex master
Comment=Multi-platform scalable dynamics framework
Icon=gnote.png
Exec=xdg-open #PATH_TO_PROGRAMS#apex/apex.txt
Path=
Terminal=
Categories=X-CVL-APEX
