[Desktop Entry]
Type=Application
Version=3.0.0-beta53
Name=Argos 3.0.0-beta53
Comment=Argos Large-scale robot simulations
Icon=argos.png
Exec=xdg-open #PATH_TO_PROGRAMS#argos/argos.txt
Path=
Terminal=
Categories=X-CVL-ARGOS
