[Desktop Entry]
Type=Application
Version=1.2.2
Name=BIDS Validator 1.2.2
Comment=Brain Imaging Data Structure validator
Icon=gnome-terminal.png
Exec=#DESKTOP_START_ARG_PATH#desktop_start_arg bids-validator 1.2.2 "bids-validator"
Path=
Terminal=
Categories=X-CVL-BIDS-VALIDATOR
