[Desktop Entry]
Type=Application
Version=1.0
Name=Caffe 1.0
Comment=Deep learning framework
Icon=gnote.png
Exec=xdg-open #PATH_TO_PROGRAMS#caffe/caffe.txt
Path=
Terminal=
Categories=X-CVL-CAFFE
