[Desktop Entry]
Type=Application
Version=1.0
Name=Caffe U-Net 1.0
Comment=Deep learning for cell counting, detection and morphometry
Icon=gnote.png
Exec=xdg-open #PATH_TO_PROGRAMS#caffe-unet/caffe-unet.txt
Path=
Terminal=
Categories=X-CVL-CAFFE-UNET
