[Desktop Entry]
Type=Application
Version=1.0
Name=Caffe 1.0
Comment=Deep learning framework
Icon=caffeine-icon.png
Exec=## this will change based on the system installation ##
Path=
Terminal=
Categories=X-CVL-CAFFE
