[Desktop Entry]
Type=Application
Version=1.3.0
Name=CCP-EM 1.3.0
Comment=Collaborative Computational Project for Electron cryo-Microscopy
Icon=ccp-em-logo_sqr.png
Exec=## this will change based on the system installation ##
Path=
Terminal=
Categories=X-CVL-CCP-EM
