[Desktop Entry]
Type=Application
Version=3.5.1
Name=Cell Profiler 3.5.1
Comment=Cell image analysis
Icon=CellProfiler.png
Exec=#DESKTOP_START_ARG_PATH#desktop_start_arg cellprofiler 3.5.1 "cellprofiler"
Path=
Terminal=
Categories=X-CVL-CELLPROFILER
