[Desktop Entry]
Type=Application
Version=0.6
Name=ChimeraX 0.6
Comment=Molecular visualization program.
Icon=ChimeraX-icon.svg
Exec=#DESKTOP_START_ARG_PATH#desktop_start_arg chimerax 0.6 "ChimeraX"
Path=
Terminal=
Categories=X-CVL-CHIMERAX
