[Desktop Entry]
Type=Application
Version=1.10.2
Name=Chimera 1.10.2
Comment=Molecular visualization program.
Icon=Chimera512.png
Exec=#DESKTOP_START_ARG_PATH#desktop_start_arg chimera 1.10.2 "chimera"
Path=
Terminal=
Categories=X-CVL-CHIMERA
