[Desktop Entry]
Type=Application
Version=0.8
Name=ChimeraX 0.8
Comment=Molecular visualization program.
Icon=ChimeraX-icon.svg
Exec=#DESKTOP_START_ARG_PATH#desktop_start_arg chimerax 0.8 "ChimeraX"
Path=
Terminal=
Categories=X-CVL-CHIMERAX
