[Desktop Entry]
Type=Application
Version=0.6
Name=ChimeraX 0.6
Comment=Molecular visualization program.
Icon=ChimeraX-icon.svg
Exec=## this will change based on the system installation ##
Path=
Terminal=
Categories=X-CVL-CHIMERAX
