[Desktop Entry]
Type=Application
Version=1.0.0-beta
Name=Cistem 1.0.0-beta
Comment=Computational Imaging System for Transmission Electron Microscopy
Icon=gnote.png
Exec=xdg-open #PATH_TO_PROGRAMS#cistem/cistem.txt
Path=
Terminal=
Categories=X-CVL-CISTEM
