[Desktop Entry]
Type=Application
Version=3.6-dev.3
Name=Colmap 3.6-dev.3
Comment=Structure-from-Motion (SfM) and Multi-View Stereo (MVS) pipeline
Icon=gnome-terminal.png
Exec=#DESKTOP_START_ARG_PATH#desktop_start_arg colmap 3.6-dev.3 "colmap gui"
Path=
Terminal=
Categories=X-CVL-COLMAP
