[Desktop Entry]
Type=Application
Version=latest
Name=CrisprCAS Finder
Comment=CRISPR-CAS
Icon=gnote.png
Exec=xdg-open #PATH_TO_PROGRAMS#crisprcas/crisprcasfinder.txt
Path=
Terminal=
Categories=X-CVL-CRISPRCAS
