[Desktop Entry]
Type=Application
Version=Yolo v3
Name=Darknet Yolo v3
Comment=Darknet You Only Look Once
Icon=gnote.png
Exec=xdg-open #PATH_TO_PROGRAMS#darknet/darknet.txt
Path=
Terminal=
Categories=X-CVL-DARKNET
