[Desktop Entry]
Type=Application
Version=Yolo v3
Name=Darknet Yolo v3
Comment=Darknet You Only Look Once
Icon=darknet-black-small.png
Exec=## this will change based on the system installation ##
Path=
Terminal=
Categories=X-CVL-DARKNET
