[Desktop Entry]
Type=Application
Version=1.0.5
Name=DragonDisk 1.0.5
Comment=Client for S3 compatible storage services
Icon=dragondisk-48x48.png
Exec=#DESKTOP_START_ARG_PATH#desktop_start_arg dragondisk 1.0.5 "dragondisk"
Path=
Terminal=
Categories=X-CVL-DRAGONDISK
