[Desktop Entry]
Type=Application
Version=2.6.4
Name=Dristhi 2.6.4
Comment=Visualising volumetric data
Icon=drishti_32.png
Exec=## this will change based on the system installation ##
Path=
Terminal=
Categories=X-CVL-DRISHTI
