[Desktop Entry]
Type=Application
Version=2.7
Name=Dristhi 2.7
Comment=Visualising volumetric data
Icon=drishti_32.png
Exec=#DESKTOP_START_ARG_PATH#desktop_start_arg drishti 2.7 "drishti"
Path=
Terminal=
Categories=X-CVL-DRISHTI
