[Desktop Entry]
Type=Application
Version=latest
Name=Fiji latest
Comment=Image processing based on ImageJ
Icon=fiji.png
Exec=## this will change based on the system installation ##
Path=
Terminal=
Categories=X-CVL-FIJI
