[Desktop Entry]
Type=Application
Version=latest
Name=Fiji latest
Comment=Image processing based on ImageJ
Icon=fiji.png
Exec=#DESKTOP_START_ARG_PATH#desktop_start_arg fiji latest "ImageJ-linux64"
Path=
Terminal=
Categories=X-CVL-FIJI
