[Desktop Entry]
Type=Application
Version=20.2.1
Name=fmriprep 20.2.1
Comment=Medical image processing tool
Icon=gnome-terminal.png
Exec=#DESKTOP_START_ARG_PATH#desktop_start_arg fmriprep 20.2.1 "fmriprep"
Path=
Terminal=
Categories=X-CVL-FMRIPREP
