[Desktop Entry]
Type=Application
Version=2.8
Name=Gimp 2.8
Comment=GNU Image Manipulation Program
Icon=gimp.png
Exec=#DESKTOP_START_ARG_PATH#desktop_start_arg gimp 2.8 "gimp"
Path=
Terminal=
Categories=X-CVL-GIMP
