[Desktop Entry]
Type=Application
Version=Latest
Name=Globus CLI
Comment=Globus Command Line Interface
Icon=globus.png
Exec=#DESKTOP_START_ARG_PATH#desktop_start_arg globus 2.0.0 "globus"
Path=
Terminal=
Categories=X-CVL-GLOBUS-CLI
