[Desktop Entry]
Type=Application
Version=1.5.0e
Name=ImageJ 1.5.0e
Comment=Scientific image analysis
Icon=imagej.png
Exec=#DESKTOP_START_ARG_PATH#desktop_start_arg imagej 1.5.0e "ImageJ-linux64"
Path=
Terminal=
Categories=X-CVL-IMAGEJ
