[Desktop Entry]
Type=Application
Version=1.5.0e
Name=ImageJ 1.5.0e
Comment=Scientific image analysis
Icon=imagej.png
Exec=## this will change based on the system installation ##
Path=
Terminal=
Categories=X-CVL-IMAGEJ
