[Desktop Entry]
Type=Application
Version=latest
Name=Imblproc latest
Comment=scripts for CT processing on IMBL of the Australian Synchrotron
Icon=imbl-ui.png
Exec=#DESKTOP_START_ARG_PATH#desktop_start_arg imblproc latest "python3 /opt/imblproc/bin/imbl-ui.py"
Path=
Terminal=
Categories=X-CVL-IMBLPROC
