[Desktop Entry]
Type=Application
Version=4.9.9
Name=Imod 4.9.9
Comment=Image processing, modelling and display programs for tomographic reconstruction and 3D reconstruction of EM serial and optical sections.
Icon=imod.png
Exec=## this will change based on the system installation ##
Path=
Terminal=
Categories=X-CVL-IMOD
