[Desktop Entry]
Type=Application
Version=4.9.9
Name=Imod 4.9.9
Comment=Image processing, modelling and display programs for tomographic reconstruction and 3D reconstruction of EM serial and optical sections.
Icon=imod.png
Exec=#DESKTOP_START_ARG_PATH#desktop_start_arg imod 4.9.9 "imod"
Path=
Terminal=
Categories=X-CVL-IMOD
