[Desktop Entry]
Type=Application
Version=4.0.1
Name=Mango 4.0.1
Comment=Multi-image Analysis GUI
Icon=mango.png
Exec=#DESKTOP_START_ARG_PATH#desktop_start_arg mango 4.0.1 "mango"
Path=
Terminal=
Categories=X-CVL-MANGO
