[Desktop Entry]
Type=Application
Version=3.13.0
Name=Mantid 3.13.0
Comment=High performance computing and visualisation of materials science data
Icon=mantid.png
Exec=#DESKTOP_START_ARG_PATH#desktop_start_arg mantid 3.13.0 "/opt/Mantid/bin/MantidPlot"
Path=
Terminal=
Categories=X-CVL-MANTID
