[Desktop Entry]
Type=Application
Version=2016.12
Name=Meshlab 2016.12
Comment=Open source system for processing and editing 3D triangular meshes
Icon=meshlab.png
Exec=#DESKTOP_START_ARG_PATH#desktop_start_arg meshlab 2016.12 "meshlab"
Path=
Terminal=
Categories=X-CVL-MESHLAB
