[Desktop Entry]
Type=Application
Version=3 beta
Name=MRtrix 3 beta
Comment=MRI analysis software
Icon=gnote.png
Exec=xdg-open #PATH_TO_PROGRAMS#mrtrix/mrtrix.txt
Path=
Terminal=
Categories=X-CVL-MRTRIX
