[Desktop Entry]
Type=Application
Version=20200603
Name=MyTardis Client 20200603
Comment=MyTardis client command line tool
Icon=gnome-terminal.png
Exec=#DESKTOP_START_ARG_PATH#desktop_start_arg mytardisclient 20200603 "mytardis"
Path=
Terminal=
Categories=X-CVL-MYTARDISCLIENT
