[Desktop Entry]
Type=Application
Version=5.5.10
Name=Omero Insight
Comment=You can use the OMERO.insight client to upload, view and download data from any personal computer
Icon=omero.svg
Exec=## this will change based on the system installation ##
Path=
Terminal=
Categories=X-CVL-OMERO
