[Desktop Entry]
Type=Application
Version=7.0.3
Name=SCIP Optimization Suite 7.0.3
Comment=Solver for mixed integer programming (MIP) and mixed integer nonlinear programming (MINLP) and framework for constraint integer programming (CIP) and branch-cut-and-price (BCP)
Icon=SCIP.png
Exec=## this will change based on the system installation ##
Path=
Terminal=
Categories=X-CVL-SCIP-OPTIMIZATION-SUITE
